body.dashboard {

  .ui.fullscreen.modal.edit-modal {
    overflow-y: scroll;
    margin: 1em 2.5% !important;
    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      max-width: 320px;
      margin: 40px auto;

    }

    .scrolling.content {
      max-height: 80vh;
    }
  }

}
