.About {
  .textorange {
    color: #ef820a;
  }

  .textcenter {
    width: 100%;
    text-align: center;
  }

  @media screen and (min-width: 450px) and (max-width: 767px) {
    .smlogo {
      width: 50%;
    }
    .weblogo {
      width: 50%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .smlogo {
      max-width: 150%;
    }
    .weblogo {
      max-width: 150%;
    }
  }

  .border_arc {
    position: absolute;
    top: 10px;
    left: calc(100% - 100px);
    right: 0px;
    bottom: calc(100% - 100px);
    border-top: 10px solid #fd7c00;
    border-right: 10px solid #fd7c00;
  }

  .border_arc2 {
    position: absolute;
    bottom: 10px;
    right: calc(100% - 100px);
    left: 0px;
    top: calc(100% - 100px);
    border-bottom: 10px solid #fd7c00;
    border-left: 10px solid #fd7c00;
  }


  .hmargin {
    margin-left: 5px;
  }

  .aboutus {
    margin-top: 30px;
    margin-bottom: 30px;

    .img1about {
      border: 2px solid #fd7c00;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .img2about {
      border-radius: 10px;
    }

    .img3about {
      border: 2px solid #fd7c00;
      border-radius: 10px;
    }


    .img4about {
      padding: 100px 0 100px 0;
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .container {
      padding-left: 18px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      .img-fluid {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .team-row {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-row-gap: 50px;
    justify-content: space-between;

    .team-member {

      .content {
        padding-left: 10px;
        padding-right: 10px;

        ul {
          justify-content: center;
          display: grid;
          align-items: center;
          text-align: left;

        }
      }


      .contact {
        margin-bottom: 1rem;

        p {
          display: inline-block;
          margin-bottom: 0;
        }

        a {
          white-space: nowrap;
        }
      }

      .links {
        justify-content: space-around;;

        .link {
          max-width: 40px;
          margin-right: 10px;
          display: inline-block;

          &:hover svg {
            fill: #ffffff;
            border: 1px solid #ffffff;
            padding: 5px;
          }

          * {
            width: 100%;
          }

          svg {
            width: 40px;
            height: 40px;
            fill: #fd7c00;
            border: 1px solid #fd7c00;
            padding: 5px;
          }
        }
      }
    }

    @media screen and (min-width: 767px) and (max-width: 1200px) {
      grid-template-columns: 320px 320px;
      justify-content: space-around;

    }

    @media screen and (max-width: 766px) {
      grid-template-columns: 1fr;
      text-align: center;

    }
  }

  .team {
    margin-top: 30px;
    margin-bottom: 30px;

    .weblogo {
      border: 1px solid #fd7c00;
      border-radius: 100px;
      background-color: white;
    }

    .teamimg {
      margin-bottom: 15px;
      border: 2px solid #fd7c00;
      border-radius: 10px;
    }

    .rowabout {
      margin-bottom: 30px;
    }

    .rowabout2 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .team-row .row {
      margin: auto 0;
      width: 100%;
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
      .paddingcol {
        margin-left: 11%;
      }
    }

  }

  .techsupp {
    margin-top: 30px;
    margin-bottom: 30px;

    .weblogo {
      border: 1px solid #fd7c00;
      border-radius: 100px;
      background-color: white;
    }

    .linkedinrow {
      margin-top: 10px;
    }

    .teamimg {
      margin-bottom: 15px;
      border: 2px solid #fd7c00;
      border-radius: 10px;
    }

    .paddingcol {
      margin-bottom: 30px;
      margin-left: 5%;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      .col-12 {
        max-width: 90%;
      }

      .img-fluid {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
      .paddingcol {
        margin-left: 11%;
      }
    }
  }


  .sponsers {
    margin-top: 30px;
    margin-bottom: 30px;

    h6 {
      color: #ef820a;
      margin-bottom: 0.5rem;
      font-weight: 400;
      line-height: 1.8;
    }

    .content {
      margin-bottom: 0.5rem;
      font-weight: 400;
      line-height: 1.8;
    }

    .social-icons {
      text-align: center;
    }
    .weblogosponser {
      border: 1px solid #fd7c00;
      border-radius: 100px;
      background-color: white;
      width: 50px;
    }

    .linkedinrow {
      margin-top: 10px;
    }

    .teamimg {
      margin-bottom: 15px;
      border: 2px solid #fd7c00;
      border-radius: 10px;
    }

    .paddingcol {
      margin-bottom: 30px;
    }

    .img-fluid {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      .col-12 {
        max-width: 90%;
      }
    }
  }

  .devs {
    margin-top: 30px;
    margin-bottom: 30px;

    .weblogo {
      border: 1px solid #fd7c00;
      border-radius: 100px;
      background-color: white;
    }

    .teamimg {
      margin-bottom: 15px;
      border: 2px solid #fd7c00;
      border-radius: 10px;
    }


    .paddingcol {
      margin-bottom: 30px;
      margin-left: 5%;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      .col-12 {
        max-width: 90%;
      }

      .img-fluid {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
      .paddingcol {
        margin-left: 11%;
      }
    }
  }


  height: 100%;

  a:hover {
    color: white;
  }

  .tabs {
    .row {
      margin: 0;
    }

    nav {
      border-bottom: none !important;
    }

    .nav-link {
      border: 1px solid white;
      border-radius: 4px 4px 0 0;
      margin-right: 3px;
    }
  }

  .active {
    background-color: #ef820a !important;
    color: white !important;
  }


  .SwipeableViewsContainer {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 5px;

    // .react-swipeable-view-container {
    //   height: 100%;
    //   .slide {
    //     height: 100%;
    //   }
    // }
  }
}

div[aria-hidden="true"] .slide img {
  position: relative;
  right: -2px;
}

body.rtl .About {
  .border_arc {
    right: calc(100% - 100px);
    left: 0px;
    border-left: 10px solid #fd7c00;
    border-right: unset;
  }

  .border_arc2 {
    left: calc(100% - 100px);
    right: 0px;
    border-right: 10px solid #fd7c00;
    border-left: unset;

  }

  .team-row {
    .team-member {
      .content {
        ul {
          text-align: right;
        }
      }

      .contact {
        margin-bottom: 1rem;

        p {
          display: inline-block;
          margin-bottom: 0;
        }

        a {
          white-space: nowrap;
        }
      }

      .links {
        justify-content: space-around;;

        .link {
          max-width: 40px;
          margin-right: 10px;
          display: inline-block;
          &:hover svg {
            fill: #ffffff;
            border: 1px solid #ffffff;
            padding: 5px;
          }

          * {
            width: 100%;
          }

          svg {
            width: 40px;
            height: 40px;
            fill: #fd7c00;
            border: 1px solid #fd7c00;
            padding: 5px;
          }

        }
      }
    }

    @media screen and (min-width: 767px) and (max-width: 1200px) {
      grid-template-columns: 320px 320px;
      justify-content: space-around;

    }

    @media screen and (max-width: 766px) {
      grid-template-columns: 1fr;
      text-align: center;

    }
  }
}
